/* ================================= Custom Classes Css Start =========================== */
/* Column Extra Small Screen */
.col-xsm-6 {
  @media screen and (min-width: 425px) and (max-width: 575px) {
    width: 50%;
  }
}

/* Section Background */
.section-bg {
  background-color: hsl(var(--section-bg));
}

.text-muted {
  color: hsl(var(--white) / 0.6) !important;
}

/* Bg Image Css */
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Hide Scroll bar Css For Custom Modal */
.scroll-hide {
  position: absolute;
  overflow-y: hidden;
  padding-right: 17px;
  top: 0;
  left: 0;
  width: 100%;

  @include md-screen {
    padding-right: 0;
  }
}

.scroll-hide-sm {
  position: absolute;
  overflow-y: hidden;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
}

/* Overlay Start */
.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  background-color: hsl(var(--black) / 0.6);
  z-index: 99;
  transition: 0.2s linear;
  visibility: hidden;
  opacity: 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.gradient-text {
  background-image: linear-gradient(180deg, hsl(var(--base-d-200)) 0%, hsl(var(--base)) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &::selection {
    color: hsl(var(--white));
    -webkit-text-fill-color: hsl(var(--white));
    background: transparent;
  }
}

.sidebar-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  background-color: hsl(var(--black) / 0.6);
  z-index: 99;
  transition: 0.2s linear;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(5px);

  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }
}

/* Overlay End */

/* ================================= Custom Classes Css End =========================== */