/* ====================== Section Heading ==================== */
.section-heading {
  text-align: center;
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 32px;

  @include md-screen {
    margin-bottom: 24px;
  }

  @include sm-screen {
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    @include sm-screen {
      flex-wrap: wrap;
    }
  }

  &__subtitle {
    color: hsl(var(--base));
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: var(--heading-font);
  }

  &__title {
    margin-bottom: 0;
  }

  &__desc {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
    font-size: clampCal(16px, 18px);
  }

  // Style left
  &.style-left {
    text-align: left;
    max-width: 500px;
    margin: unset;
    margin-bottom: 32px;

    @include md-screen {
      margin-bottom: 24px;
    }

    @include sm-screen {
      margin-bottom: 20px;
    }

    .section-heading {
      &__title {
        &::before {
          left: 0;
          transform: translateX(0);
        }
      }

      &__desc {
        margin-left: 0;
      }
    }
  }
}
.section-heading:has(.section-heading__inner) {
  max-width: 100%;
}
/* ====================== Section Heading End ==================== */