/* ================================= Common Typography Css Start =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: hsl(var(--body-color));
  word-break: break-word;
  background-color: hsl(var(--body-bg));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  @include fs-16;
  font-weight: 400;
  margin: 0;
  color: hsl(var(--body-color));
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  font-family: var(--heading-font);
  color: hsl(var(--heading-color));
  line-height: 1.3;
  font-weight: 700;

  @include sm-screen {
    margin: 0 0 15px 0;
  }
}

h1 {
  font-size: rem(60px);

  @include xl-screen {
    font-size: rem(50px);
  }

  @include lg-screen {
    font-size: rem(45px);
  }

  @include md-screen {
    font-size: rem(40px);
  }

  @include sm-screen {
    font-size: rem(35px);
  }

  @include msm-screen {
    font-size: rem(30px);
  }
}

h2 {
  font-size: rem(40px);

  @include xl-screen {
    font-size: rem(45px);
  }

  @include lg-screen {
    font-size: rem(40px);
  }

  @include md-screen {
    font-size: rem(35px);
  }

  @include sm-screen {
    font-size: rem(30px);
  }

  @include msm-screen {
    font-size: rem(25px);
  }
}

h3 {
  font-size: rem(32px);

  @include xl-screen {
    font-size: rem(28px);
  }

  @include lg-screen {
    font-size: rem(25px);
  }

  @include md-screen {
    font-size: rem(23px);
  }

  @include sm-screen {
    font-size: rem(22px);
  }

  @include msm-screen {
    font-size: rem(20px);
  }
}

h4 {
  font-size: rem(24px);

  @include xl-screen {
    font-size: rem(21px);
  }

  @include lg-screen {
    font-size: rem(20px);
  }

  @include md-screen {
    font-size: rem(19px);
  }

  @include sm-screen {
    font-size: rem(18px);
  }

  @include msm-screen {
    font-size: rem(17px);
  }
}

h5 {
  font-size: rem(20px);

  @include xl-screen {
    font-size: rem(19px);
  }

  @include lg-screen {
    font-size: rem(18px);
  }

  @include md-screen {
    font-size: rem(17px);
  }

  @include sm-screen {
    font-size: rem(16px);
  }

  @include msm-screen {
    font-size: rem(16px);
  }
}

h6 {
  font-size: rem(16px);

  @include xl-screen {
    font-size: rem(16px);
  }

  @include lg-screen {
    font-size: rem(15px);
  }

  @include md-screen {
    font-size: rem(14px);
  }

  @include sm-screen {
    font-size: rem(14px);
  }

  @include msm-screen {
    font-size: rem(14px);
  }
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.2s linear;
  line-height: inherit;
}

a {
  display: inline-block;
  transition: 0.2s linear;
  text-decoration: none;
  color: hsl(var(--base));
}

a:hover {
  color: hsl(var(--base-d-200));
}

img {
  max-width: 100%;
  height: auto;
}

select {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-select:focus {
  outline: 0;
  box-shadow: none;
}

.dashboard-body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--body-font);
  }
}

/* ================================= Common Typography Css End =========================== */