// /* Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

/* ========================= Css Variables Start ======================== */
:root {
  /* Font Family */
  --heading-font: "Quicksand", sans-serif;
  --body-font: "Inter", sans-serif;

  /* ========================= Theme Color Start ============================= */

  /* Base Color */
  
  /* Base Two Color */
  @include colorVariable(--base, #fb5629, 10);
  @include colorVariable(--base-two, #fa8f15, 10);

  /* ========================= Theme Color End ============================= */

  /* ========================= Color Variables Start =========================== */
  // White Color
  @include colorVariable(--white, #ffffff);

  // Body Color
  @include colorVariable(--body-color, #757575);

  // heading-color
  @include colorVariable(--heading-color, #0b0909);

  // Black Color
  @include colorVariable(--black, #000);
   // Body bg
  @include colorVariable(--body-bg, #f7f7f7e6);
  //Border Color
  @include colorVariable(--border-color, #e0e0e0);

  // Section Background
  @include colorVariable(--section-bg, #F7F2E2);

  --background-color: var(--black);

  /* ================================ Box Shadow Start =============================== */
  // Header Box shadow
  --header-box-shadow: 0px -1px 15px 3px hsl(var(--black) / 0.3);
  // Mobile bottom fix menu box shadow
  --mobile-box-shadow: 0px -1px 5px 0px hsl(var(--black) / 0.92);
  // Card box shadow
  --box-shadow: 0px 2px 15px hsl(var(--black) / 0.05);
  /* ================================ Box Shadow End =============================== */

  /* ============================== Bootstrap Modifier Start ============================== */
  /* Primary Color */
  @include colorVariable(--primary, #0007cc, 5);

  /* Secondary Color */
  @include colorVariable(--secondary, #6d767e, 5);

  /* Success Color */
  @include colorVariable(--success, #1bcc00, 5);

  /* Danger Color */
  @include colorVariable(--danger, #fb4646, 5);

  /* Warning Color */
  @include colorVariable(--warning, #FCD500, 5);

  /* Info Color */
  @include colorVariable(--info, #00bbff, 5);

  /* ============================== Bootstrap Modifier End ============================== */

  /* ============================== Dark Mood Color Modify Start ============================== */
  [data-theme='dark'] {
    // Reverse White
    @include colorVariable(--white, #101213);

    // Reverse Black
    @include colorVariable(--black, #f8fafc);
  }

  /* ============================== Dark Mood Color Modify End ============================== */
}

/* ========================= Css Variables End =========================== */