@mixin setSpace($values, $property) {
  #{$property}: map-get($values, xl);

  @include md-screen {
    #{$property}: map-get($values, md);
  }

  @include xsm-screen {
    #{$property}: map-get($values, xsm);
  }
}

@mixin createSpace($property, $section-spaces) {
  $prefix: '';

  @if($property==padding) {
    $prefix: p;
  }

  @if($property==margin) {
    $prefix: m;
  }

  @each $size, $values in $section-spaces {
    .#{$prefix}y-#{$size} {
      @include setSpace($values, #{$property}-block);
    }

    .#{$prefix}t-#{$size} {
      @include setSpace($values, #{$property}-top);
    }

    .#{$prefix}b-#{$size} {
      @include setSpace($values, #{$property}-bottom);
    }
  }
}


// Global Section Spacing
$section: (
  120: (xl: 120px,
    md: 80px,
    xsm: 60px),
  60: (xl: 60px,
    md: 40px,
    xsm: 30px)
);

// Generate padding and margin classes separately
@include createSpace(padding, $section);
@include createSpace(margin, $section);