/* =========================== Banner Section Start Here ========================= */
.banner-section {
  position: relative;
  z-index: 1;
  padding: 280px 0 200px;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(45deg, hsl(var(--black)), transparent);

  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, #000, transparent 80%);
    z-index: -1;
    opacity: 0.4;
  }

  .text-muted {
    color: hsl(var(--white) / 0.6) !important;
  }

  .banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include lg-screen {
    padding: 230px 0 140px;
  }

  @include md-screen {
    padding: 160px 0 100px;
  }

  @include msm-screen {
    padding: 115px 0 60px;
  }


  .banner-service {
    color: hsl(var(--white));
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 22px;
    margin-top: 40px;
    justify-content: center;

    @include lg-screen {
      font-size: 20px;
    }

    @include md-screen {
      font-size: 18px;
    }

    @include md-screen {
      font-size: 16px;
    }
  }


}

@keyframes topBottom {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(calc(var(--size) + 2px));
  }
}

.banner-content {
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
  &__title {
    color: hsl(var(--white));
    font-size: rem(80px);
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 30px;

    @include xxl-screen {
      width: fit-content;
      font-size: rem(100px);
    }

    @include xl-screen {
      font-size: rem(80px);
    }

    @include lg-screen {
      font-size: rem(70px);
    }

    @include md-screen {
      font-size: rem(50px);
    }

    @include sm-screen {
      font-size: rem(40px);
    }

    @include msm-screen {
      font-size: rem(35px);
    }
  }

  .banner-content__text {
    font-size: rem(24px);
    line-height: 1.5;
    max-width: 550px;
    font-weight: 500;
    color: hsl(var(--white));
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .banner-content_heading {
    letter-spacing: 2px;
    font-weight: 400;
    color: hsl(var(--white));
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    background-color: #ffffff1a;
    border-radius: 50px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 8px 20px;
    line-height: 1.5em;
    max-width: fit-content;
    box-shadow: inset 0 0 5px hsl(var(--white) / .4);
  }

  &__desc {
    max-width: 600px;
    color: hsl(var(--white) / 0.8);
    margin: 0 auto;
  }

  &__button {
    margin-top: 30px;
  }

  .or {
    font-size: 18px;
    position: relative;
    padding-inline: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -0px;
      width: 20px;
      height: 2px;
      background-color: hsl(var(--base));

    }

    &::after {
      right: unset;
      left: -0px;
    }
  }

  .view-demo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(var(--white));

    .icon {
      svg {


        --size: 50px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(var(--white));
        line-height: 1;
      }


    }

    .text {
      display: flex;
      flex-direction: column;
      font-size: 18px;

      span {
        line-height: 1.2;
      }

      a {
        font-size: 16px;
        color: hsl(var(--white));
        font-weight: 500;
      }
    }
  }
}





/* =========================== Banner Section End Here ========================= */