/*================== category section css start here ==================*/
.category-wrapper {
    overflow: hidden;

    .slick-next {
        right: -10%;
        transition: 0.5s linear;
        animation-delay: 2s;
    }

    .slick-prev {
        left: -10%;
        transition: 0.5s linear;
        animation-delay: 2s;
    }
}

.category-wrapper::hover .slick-next {
    right: 2%;
}

.category-wrapper::hover .slick-prev {
    left: 2%;
}

.category-item {
    height: 100%;
    position: relative;
    transition: .2s linear;
    overflow: hidden;
    width: 100%;
    background: hsl(var(--white));
    padding: 10px;
    text-align: center;
    border-radius: 12px;

    &:hover {
        .category-item {
            &__thumb {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__thumb {
        height: 170px;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;

        @include sm-screen {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
            transition: .2s linear;
        }
    }

    &__title {
        margin-bottom: 0;
        margin-top: 16px;
        transition: .3s linear;
        font-weight: 700;

        &:hover {
            color: hsl(var(--base));
        }
    }
}

/*================== category section css end here ==================*/