/*================ checkout section start here ================*/
.select2-container:has(.select2-selection--multiple,
    .select2-selection--single) {
    width: 100% !important;
}

.checkout-wrapper {
    display: flex;
    gap: 48px;

    @include xl-screen {
        gap: 24px;
    }

    @include lg-screen {
        flex-direction: column;
    }
}

.cart-wrapper__left {
    background-color: hsl(var(--white));
    padding: 24px;
    border-radius: 8px;
    flex-grow: 1;
}

.cart-wrapper__right {
    width: 555px !important;
    border: none;
    flex-shrink: 0;
    border-radius: 8px;

    @include xl-screen {
        width: 400px !important;
    }

    @include lg-screen {
        width: 100% !important;
    }
}

.checkout-information {
    background-color: hsl(var(--white));
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.checkout-product__wrapper {
    margin-bottom: 24px;
}

.checkout-product__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.checkout-product__item:not(:last-child) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid hsl(var(--black)/.1);
}

.checkout-product__item__thumb {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
}

.checkout-product__item__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-product__item__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include msm-screen {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.checkout-product__item__right .price {
    flex-shrink: 0;
    text-align: right;
}

.checkout-information__list {
    border-bottom: 1px solid hsl(var(--black)/.1);
    margin-bottom: 20px;
    font-size: 0.875rem;
}

.checkout-information__list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout-information__list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout-information__list span {
    color: hsl(var(--heading-color));
    font-weight: 500;
}

.checkout-information__list span:first-child {
    color: hsl(var(--body-color));
}

.checkout-information__list span:last-child {
    font-weight: 600;
}

.checkout-information__total span {
    font-weight: 600;
    color: hsl(var(--heading-color));
}

.checkout-information__total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shipping-method-wrapper {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    flex-wrap: wrap;
    @include sm-screen {
        flex-direction: column;
    }
}
.shipping-method-wrapper .form--radio {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 !important;
}
.shipping-method-wrapper .form--radio .form-check-label {
    margin: 0;
    background-image: none !important;
    z-index: -1;
    border: 1px solid hsl(var(--black)/.1);
    color: hsl(var(--heading-color)) !important;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.form-check-label:has(.form-check-input:checked) {
    border-color: hsl(var(--base)) !important;
    background: hsl(var(--base) / 0.06);
}
.shipping-method-wrapper .form--radio .form-check-input {
    border: 2px solid hsl(var(--black)/.1);
    position: absolute;
    top: 20px;
    left: 45px;
    width: 24px;
    height: 24px;
}
.shipping-method-wrapper .form--radio .form-check-input:checked {
    border-color: hsl(var(--base)) !important;
}
.shipping-method-wrapper .form--radio .form-check-input:checked::before {
    width: 13px;
    height: 13px;
}
.shipping-content {
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
}
/*================ checkout section end here ==================*/