/*============= deal section start here =============*/
.deal-card {
    position: relative;
    min-height: 550px;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    padding: 32px;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        z-index: -1;
        background: linear-gradient(154deg, hsl(var(--black) / 0.5), transparent);
        filter: blur(10px);
    }

    &:hover {
        .deal-card__thumb {
            img {
                transform: scale(1.06);
            }
        }
    }

    &__title {
        color: hsl(var(--white));
        margin-bottom: 15px;
        margin-top: 10px;
        line-height: 1.2;
    }

    &__btn {
        color: hsl(var(--white));
        text-decoration: underline;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .2s linear;
        }
    }
}

/*============= deal section end here =============*/