.discount-ads-section {

    .discount-ads-item img {
        width: 100%;
        border-radius: 8px;
    }

    .discount-ads-item.slick-slide {
        margin: 0px 15px;
    }

    @media (max-width: 425px) {
        .discount-ads-item.slick-slide {
            margin: 0px 10px;
        }
    }

    .discount-ads__slider .slick-dots {
        bottom: -60px;
    }

    .discount-ads__slider .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 12px;
        height: 12px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border-radius: 30px;
        border: 0;
        outline: none;
        background: #D9D9D9;
    }

    .discount-ads__slider .slick-dots li button::before {
        display: none;
    }

    .discount-ads__slider .slick-dots .slick-active button {
        background-color: hsl(var(--base));
    }

}