/* ======================  Faq Section Start  ======================*/
.faq-section {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        right: 0;
        top: 60%;
        transform: translateY(-50%);
        content: "";
        z-index: -3;
        background-color: hsl(var(--white));
        width: 50%;
        height: 70%;
        border-radius: 50%;
        filter: blur(rem(150px));
        opacity: 0.8;
    }

}

.faq-content {
    height: 100%;
    background: hsl(var(--white));
    padding: 50px;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(15px);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include md-screen {
        padding: 32px 40px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: .06;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.faq-content::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px dashed hsl(var(--black) / 0.2);
    border-radius: 8px;
    z-index: -1;
}

.faq-content .social-list {
    justify-content: center;
    margin-top: 32px;
    &__link {
        background-color: hsl(var(--black));
        &:hover {
            background-color: hsl(var(--base));
        }
    }
}

.faq-content__contact {
    margin-top: 10px;
    margin-bottom: 32px;
}

.faq-content__desc {
    font-size: 18px;
}

.faq-content__contact a {
    color: hsl(var(--black));
    font-weight: 500;
    font-size: 18px;
}

.faq-content__btn {
    margin-top: auto;
    text-align: center;

    .btn {
        margin: 0 auto;
    }
}

/* ======================  Faq Section End  ======================*/