// Banner
@import "banner";
// Banner
@import "comment";
//  testimonials
@import "testimonials";
//  category
@import "category";
//  information
@import "information";
//  new product
@import "product";
//  discount ads
@import "discount-ads";
//  deal
@import "deal";
//  newsletter
@import "newsletter";
//  faq
@import "faq";
//  service
@import "service";
//  step
@import "step";
//  product-category
@import "product-category";
//  product-details
@import "product-details";
//  checkout
@import "checkout";
//  cart
@import "cart";
//  sidebar
@import "sidebar";
//  profile
@import "profile";
//  track
@import "track";
//  order-details
@import "order-details";

