/*============ information section css start here ============*/

.information-item {
    background-color: hsl(var(--white));
    padding: 28px 10px 28px 10px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.information-item__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.information-item__thumb {
    mask-size: 50px;
    -webkit-mask-size: 46px;
    height: 42px;
    width: 46px;
    background: hsl(var(--base));
}
.information-item.information-1 .information-item__thumb {
    -webkit-mask-image:url(../images/thumbs/information/ser-1.svg);
    mask-image:url(../images/thumbs/information/ser-1.svg);
}
.information-item.information-2 .information-item__thumb {
    -webkit-mask-image:url(../images/thumbs/information/ser-2.svg);
    mask-image:url(../images/thumbs/information/ser-2.svg);
}
.information-item.information-3 .information-item__thumb {
    -webkit-mask-image:url(../images/thumbs/information/ser-3.svg);
    mask-image:url(../images/thumbs/information/ser-3.svg);
}
.information-item.information-4 .information-item__thumb {
    -webkit-mask-image:url(../images/thumbs/information/ser-4.svg);
    mask-image:url(../images/thumbs/information/ser-4.svg);
}
.information-item__content {
    position: relative;
    padding-inline-start: 20px;
    cursor: pointer;
    line-height: 22px;
    text-align: left;
}
.information-item__title {
    text-transform: capitalize;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 0;
}
.information-item__desc {
    color: hsl(var(--black)/0.7);
    font-size: 14px;
}
.information-item__content::after {
    content: "";
    width: 0;
    height: 65px;
    background-color: #efefef;
    display: block;
    position: absolute;
    left: auto;
    top: -10px;
    right: -40px;
}
/*============= information section css end here =============*/
