/*============ profile css start here ============*/
.profile-wrapper {
    background: hsl(var(--white));
    border: 1px solid hsl(var(--black)/.1);
    border-radius: 8px;
    display: flex;
    @include sm-screen {
        flex-direction: column;
    }
    &__left {
        width: 320px;
        padding: 32px 15px;
        border-right: 1px solid hsl(var(--black)/.1);
        @include sm-screen {
            width: 100%;
            border-right: 0;
        }
        .profile-info {
            margin-top: 16px;
            &__title {
                margin-bottom: 16px;
                font-weight: 500;
            }
        }
        .profile-info-list {
            &__item {
                display: flex;
                gap: 20px;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                .title {
                    width: 100px;
                    font-size: 14px;
                    font-weight: 500;
                    color: hsl(var(--heading-color));
                }
                .text {
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    gap: 5px;
                    width: calc(100% - 100px);
                    align-items: flex-start;
                    .text-style {
                        color: hsl(var(--heading-color));
                        font-weight: 600;
                    }
                }
            }
        }
        .profile-banner-thumb {
            border-radius: 8px;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .profile-thumb {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border: 10px solid hsl(var(--white));
            margin: 0 auto;
            margin-top: -41px;
            z-index: 2;
            position: relative;
            border-radius: 50%;
            @include xsm-screen {
                width: 80px;
                height: 80px;
                border-width: 5px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__right {
        width: calc(100% - 320px);
        padding: 32px 20px;
        @include sm-screen {
            width: 100%;
        }
        .tab-three {
            justify-content: flex-start;
            margin-bottom: 20px;
            .nav-link {
                font-size: 14px;
                padding: 5px 13px !important;
            }
        }
    }
}
.profile-address-wrapper {
    .title {
        font-size: 14px;
        color:hsl(var(--heading-color));
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__thumb {
        position: relative;
        width: 80px;
        margin-bottom: 20px;
        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    .edit {
        position: absolute;
        width: 24px;
        height: 24px;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: hsl(var(--base));
        border: 2px solid hsl(var(--white));
        right: 0px;
        bottom: 0px;
        cursor: pointer;
        color: hsl(var(--white));
    }
}


/*============ profile css end here ============*/
