/* ================================ Testimonails Section Css Start ============================= */
.testimonials {
  position: relative;
  overflow: hidden;
}

.testimonails-card {
  padding: 0 10px;
  height: 100%;
}

.testimonial-item {
  background-color: hsl(var(--white));
  padding: 24px;
  border-radius: 8px;
  position: relative;
  height: 100%;
  border: 1px solid hsl(var(--border-color)/.3);

  @include xsm-screen {
    padding: 25px 15px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    @include xsm-screen {
      width: 45px;
      height: 45px;
    }
  }

  &__details {
    width: calc(100% - 60px);
    padding-left: 20px;

    @include xsm-screen {
      width: calc(100% - 45px);
      padding-left: 10px;
    }
  }

  &__name {
    margin-bottom: 0;
    color: hsl(var(--black));
    font-size: 16px;
    font-weight: 500;
  }

  &__desc {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: hsl(var(--black) / .8);
    border-bottom: 1px solid hsl(var(--black) / .08);
    font-size: 18px;
    @include xsm-screen {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }

  &__rating {
    margin-bottom: 10px;
    .rating-list {
      justify-content: flex-start;
      gap: 5px;
      font-size: 20px;
    }
  }
}
.testimonial-shape {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.testimonial-shape img {
    width: 100%;
    height: 100%;
}
/* ================================ Testimonails Section Css End ============================= */