/*============== track order css start here ==============*/
.track-order-wrapper {

    border: 1px solid hsl(var(--black)/.05);
    border-radius: 8px;
    overflow: hidden;

    .top {
        padding: 10px 15px;
        background-color: hsl(var(--section-bg));

        .title {
            text-align: center;
            color: hsl(var(--heading-color));
            font-weight: 600;
        }
    }

    .content {
        padding: 30px 20px;
        @include xsm-screen {
            padding: 25px 10px;
        }
        .order-form {
            margin-bottom: 70px;
        }
    }
}

.page-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin-top: 30px;
    margin-bottom: 24px;

    &::before {
        position: absolute;
        content: "";
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 3%);
        border-top: 2px dashed hsl(var(--black)/.5);

        @include sm-screen {
            width: calc(100% - 11%) !important;
        }

        @include xsm-screen {
            width: calc(100% - 13%) !important;
        }
    }

    .nav-item {
        border-bottom: 0;
        padding: 3px;
        position: relative;

        &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            height: 20px;
            bottom: 8px;
            color: hsl(var(--white));
            font-size: 12px;
            top: -26px;
            display: flex;
            justify-content: center;
            align-items: center;
            counter-increment: step;
            content: counter(step);
        }

        &:first-child {
            &::after {
                left: 9px;
                transform: unset !important;
            }

            .nav-link {
                &::before {
                    left: 0;
                    transform: unset !important;
                }

                .profile-item {
                    &__title {
                        text-align: left;
                    }
                }
            }
        }

        &:last-child {
            &::after {
                left: unset !important;
                transform: unset !important;
                right: 9px;
            }

            .nav-link {
                &::before {
                    left: unset !important;
                    transform: unset !important;
                    right: 0;
                }

                .profile-item {
                    &__title {
                        text-align: right;
                    }
                }
            }
        }

        .nav-link {
            padding: 0 !important;
            background-color: transparent !important;
            transition: .4s;
            border: 0 !important;
            position: relative;
            font-weight: 500;
            color: hsl(var(--text-color));

            &::before {
                position: absolute;
                content: "";
                top: -34px;
                left: 50%;
                width: 32px;
                transform: translateX(-50%);
                height: 32px;
                border-radius: 50%;
                background-color: #F2F2F2;

                @include md-screen {
                    display: block !important;
                }
            }
        }

        .profile-item {
            &__title {
                margin-top: 10px;
                color: hsl(var(--heading-color));
                font-weight: 600;

                @include msm-screen {
                    font-size: 14px;
                }

                @include xsm-screen {
                    font-size: 12px;
                }
                @include xxsm-screen {
                    font-size: 10px;
                }
            }
        }

        &.active {
            &.nav-item {
                &::after {
                    color: hsl(var(--white));
                    content: "\f00c" !important;
                    font-family: "Line Awesome Free";
                    font-weight: 800;
                    font-size: 20px;
                }

                .nav-link {
                    &::before {
                        background-color: hsl(var(--base));
                        border: 0;
                    }
                }
            }

            .profile-item {
                &__title {
                    color: hsl(var(--base));
                }
            }
        }
    }

    &.list-two {
        max-width: 90%;
        margin: 0 auto;

        @include msm-screen {
            max-width: 100%;
        }

        .nav-item {
            border-bottom: 0;
            padding: 3px;
            position: relative;

            &::after {
                display: none;
            }

            &:first-child {
                &::after {
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }

                .nav-link {
                    &::before {
                        left: 50% !important;
                        transform: translateX(-50%) !important;
                    }

                    .profile-item {
                        &__title {
                            text-align: center;
                        }
                    }
                }
            }

            &:last-child {
                &::after {
                    right: 9px !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }

                .nav-link {
                    &::before {
                        right: 0;
                        left: 50% !important;
                        transform: translateX(-50%) !important;
                    }

                    .profile-item {
                        &__title {
                            text-align: center;
                        }
                    }
                }
            }

            .nav-link {
                padding: 0 !important;
                background-color: transparent !important;
                transition: .4s;
                border: 0 !important;
                position: relative;
                font-weight: 500;
                color: hsl(var(--text-color));

                &::before {
                    position: absolute;
                    content: "";
                    top: -56px;
                    left: 50%;
                    width: 32px;
                    transform: translateX(-50%);
                    height: 32px;
                    border-radius: 50%;
                    background-color: #E1E1E1;
                    width: 72px;
                    height: 72px;

                    @include msm-screen {
                        width: 55px;
                        height: 55px;
                        top: -49px;
                    }

                    @include xsm-screen {
                        width: 48px;
                        height: 48px;
                        top: -43px;
                    }
                }

                .icon {
                    position: absolute;
                    content: "";
                    top: -48px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    background-color: #F2F2F2;
                    width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: #B7B7BB;

                    @include msm-screen {
                        width: 45px;
                        height: 45px;
                        top: -44px;
                        font-size: 24px;
                    }

                    @include xsm-screen {
                        width: 40px;
                        height: 40px;
                        top: -39px;
                        font-size: 20px;
                    }
                }
            }

            .profile-item {
                &__title {
                    margin-top: 20px;
                    color: #ACACAC;
                    font-weight: 600;

                    @include msm-screen {
                        font-size: 14px;
                    }

                    @include xsm-screen {
                        font-size: 12px;
                    }
                    @include xxsm-screen {
                        font-size: 10px;
                    }
                }
            }

            &.active {
                &.nav-item {
                    &::after {
                        color: hsl(var(--white));
                        content: "\f00c" !important;
                        font-family: "Line Awesome Free";
                        font-weight: 800;
                        font-size: 20px;
                    }

                    .nav-link {
                        &::before {
                            background-color: #E5EFFF;
                            border: 0;
                        }

                        .icon {
                            background-color: hsl(var(--base));
                            color: hsl(var(--white));
                        }
                    }
                }

                .profile-item {
                    &__title {
                        color: hsl(var(--base));
                    }
                }
            }
        }
    }
}

.order-system {
    border-top: 1px solid hsl(var(--black)/.1);
    margin-top: 20px;
    padding-top: 30px;
    position: relative;
    .order-item {
        display: grid;
        grid-template-columns: auto auto;
        gap: 75px;
        margin-bottom: 45px;
        position: relative;
        max-width: unset;
        align-items: unset;
        @include sm-screen {
            gap: 50px;
        }
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            border: 1px dashed hsl(var(--body-color));
            left: 137px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -3;
            margin-top: 42px;
            @include sm-screen {
                left: 107px;
            }
        }
    
        &::before {
            position: absolute;
            left: 123px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            counter-increment: step;
            content: counter(step);
            display: flex;
            color: hsl(var(--white));
            width: 30px;
            height: 30px;
            margin-top: -20px;
            @include sm-screen {
                margin-top: -14px;
                left: 92px;
            }
        }
    
        &:last-child {
            margin-bottom: 0;
    
            &::after {
                display: none;
            }
        }
    
        &__left {
            width: 100px;
            position: relative;
            @include sm-screen {
                width: 85px;
            }
            .time {
                font-size: 14px;
                font-weight: 500;
                @include sm-screen {
                    font-size: 13px;
                }
            }
            .date {
                font-size: 14px;
                font-weight: 700;
                @include sm-screen {
                    font-size: 13px;
                }
            }
            &::before {
                position: absolute;
                content: "";
                top: -1px;
                left: 118px;
                border-radius: 50%;
                background-color: hsl(var(--base));
                width: 40px;
                height: 40px;
                @include sm-screen {
                    left: 88px;
                }
            }
        }
    
        &__title {
            margin-bottom: 10px;
            @include sm-screen {
                margin-bottom: 6px;
            }
        }
        &__desc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include sm-screen {
                font-size: 14px;
            }
        }
    }
}


/*================ track order css end here ==============*/
