<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb py-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb__wrapper">
                    <h2 class="breadcrumb__title"> @@breadcrumbText</h2>
                    <ul class="breadcrumb__list">
                        <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link"> <i class="las la-home"></i> Home</a> </li>
                        <li class="breadcrumb__item"><i class="fas fa-arrow-right"></i></li>
                        <li class="breadcrumb__item"> <span class="breadcrumb__item-text"> @@breadcrumbText </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->