
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-area">
    <div class="pb-60 pt-120">
        <div class="container">
            <div class="row justify-content-center gy-5">
                <div class="col-xl-4 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <div class="footer-item__logo">
                            <a href="index.html"> <img src="assets/images/logo/logo.png" alt=""></a>
                        </div>
                        <p class="footer-item__desc"> Herbal Shop  brings you tons of products in over 20+ different categories, including men's fashion, women's fashion, baby fashion, and more. </p>
                        <ul class="social-list">
                            <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link flex-center"><i class="fab fa-facebook-f"></i></a> </li>
                            <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link flex-center active"> <i class="fab fa-twitter"></i></a></li>
                            <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link flex-center"> <i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link flex-center"> <i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">Userful Link</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Home</a></li>
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">About Us </a></li>
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Contact Us </a></li>
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">Categories</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Blog </a></li>
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Blog Details </a></li>
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link">Dashboard </a></li>
                            <li class="footer-menu__item"><a href="#" class="footer-menu__link"> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h5 class="footer-item__title">Contact With Us</h5>
                        <ul class="footer-contact-menu">
                            <li class="footer-contact-menu__item"> 
                                <div class="footer-contact-menu__item-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="footer-contact-menu__item-content">
                                    <p>15205 North Kierland Blvd.100
                                      Old City House</p>
                                </div>
                            </li>
                            <li class="footer-contact-menu__item"> 
                                <div class="footer-contact-menu__item-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="footer-contact-menu__item-content">
                                    <p>democompany@gmail.com</p>
                                </div>
                            </li>
                            <li class="footer-contact-menu__item"> 
                                <div class="footer-contact-menu__item-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="footer-contact-menu__item-content">
                                    <p>123 - 456 - 7890 </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Footer Top End-->
  
    <!-- bottom Footer -->
    <div class="bottom-footer py-3">
        <div class="container">
            <div class="row gy-3">
                <div class="col-md-12 text-center">
                    <div class="bottom-footer-text text-white"> &copy; Copyright 2025. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->
  