<!-- ==================== Header Top Start Here ==================== -->
<div class="header-top d-lg-block d-none">
    <div class="container">
        <div class="top-header-wrapper d-flex flex-wrap justify-content-between align-items-center">    
            <div class="top-contact">
                <ul class="contact-list">
                    <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fas fa-envelope"></i></span><a href="mailto:" class="contact-list__link"> hello@example.com </a></li>
                    <li class="contact-list__item"><span class="contact-list__item-icon"><i class="fas fa-phone"></i></span><a href="tel:" class="contact-list__link">  (406) 555 - 0120 - 1478 </a></li>
                </ul>
            </div> 
            <div class="top-button d-flex flex-wrap justify-content-between align-items-center">
                <ul class="login-registration-list d-flex flex-wrap justify-content-between align-items-center">
                    <li class="login-registration-list__item"><span class="login-registration-list__icon"><i class="fas fa-user"></i></span><a href="#" class="login-registration-list__link"> Login</a></li>
                    <li class="login-registration-list__item"><a href="#" class="login-registration-list__link"> Register</a></li>
                </ul>
                <div class="language-box">
                    <select class="select">
                        <option selected>English</option>
                        <option value="1">Bangla</option>
                        <option value="2">French</option>
                        <option value="3">Spanish</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Header Top End Here ==================== -->