<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
    <div class="container">
        <nav class="navbar navbar-expand-xl navbar-light">
            <a class="navbar-brand logo" href="index.html">
                <img src="assets/images/logo/logo.png" alt="">
            </a>
            <button class="navbar-toggler header-button" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span id="hiddenNav"><i class="las la-bars"></i></span>
            </button>
            <div class="offcanvas border-0 offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar">
                <div class="offcanvas-header">
                    <a class="logo navbar-brand" href="index.html">
                        <img src="assets/images/logo/logo.png" alt="">
                    </a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav nav-menu align-items-xl-center justify-content-end w-100">
                        <li class="nav-item d-xl-none">
                            <div class="dropdown lang-box">
                                <button class="lang-box-btn" data-bs-toggle="dropdown">
                                    <span class="thumb">
                                        <img class="fit-image" src="assets/images/flags/us.png" alt="usa">
                                    </span>
                                    <span class="text">Enlish</span>
                                    <span class="icon">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="lang-box-item" data-code="en">
                                        <a href="" class="lang-box-link">
                                            <div class="thumb">
                                                <img src="assets/images/flags/us.png" alt="usa">
                                            </div>
                                            <span class="text">Enlish</span>
                                        </a>
                                    </li>
                                    <li class="lang-box-item selected" data-code="hn">
                                        <a href="" class="lang-box-link">
                                            <div class="thumb">
                                                <img src="assets/images/flags/bd.png" alt="bd">
                                            </div>
                                            <span class="text">Bangla</span>
                                        </a>
                                    </li>
                                    <li class="lang-box-item" data-code="es">
                                        <a href="" class="lang-box-link">
                                            <div class="thumb">
                                                <img src="assets/images/flags/sp.png" alt="Spanish">
                                            </div>
                                            <span class="text">Spanish</span>
                                        </a>
                                    </li>
                                    <li class="lang-box-item" data-code="es">
                                        <a href="" class="lang-box-link">
                                            <div class="thumb">
                                                <img src="assets/images/flags/sa.png" alt="Spanish">
                                            </div>
                                            <span class="text">Arabic</span>
                                        </a>
                                    </li>
                                    <li class="lang-box-item" data-code="es">
                                        <a href="" class="lang-box-link">
                                            <div class="thumb">
                                                <img src="assets/images/flags/pak.png" alt="Spanish">
                                            </div>
                                            <span class="text">Urdu</span>
                                        </a>
                                    </li>
                                    <li class="lang-box-item" data-code="es">
                                        <a href="" class="lang-box-link">
                                            <div class="thumb">
                                                <img src="assets/images/flags/fr.png" alt="Spanish">
                                            </div>
                                            <span class="text">French</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog-details.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contact</a>
                        </li>
                        <li class="nav-item d-xl-none d-block">
                            <a href="login.html" class="btn w-100 btn--md pill btn--base">Download App</a>
                        </li>
                        <li class="nav-item d-xl-none d-block">
                            <a href="login.html" class="btn w-100 btn--md pill btn-outline--dark">
                                <span class="icon">
                                    <i class="fa-regular fa-circle-user"></i>
                                </span>
                                Login
                            </a>
                        </li>
                        <li class="nav-item dropdown d-none">
                            <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Vehicles <span class="nav-item__icon"><i class="las la-angle-down"></i></span>
                            </a>
                            <ul class="dropdown-menu header-dropdown">
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">Car</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">Convertible</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">Electric</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">Motorcycle</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#-vehicle_1717237170">Specialty
                                        Vehicle</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">SUV</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">Truck</a>
                                </li>
                                <li class="dropdown-menu__list">
                                    <a class="dropdown-item dropdown-menu__link" href="#">Van</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right d-none d-xl-flex">
                <div class="dropdown lang-box">
                    <button class="lang-box-btn" data-bs-toggle="dropdown">
                        <span class="thumb">
                            <img class="fit-image" src="assets/images/thumbs/s-1.jpg" alt="en">
                        </span>
                        <span class="text">English</span>
                        <span class="icon">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="lang-box-item" data-code="en">
                            <a href="" class="lang-box-link">
                                <div class="thumb">
                                    <img class="fit-image" src="assets/images/thumbs/s-1.jpg" alt="en">
                                </div>
                                <span class="text">Enlish</span>
                            </a>
                        </li>
                        <li class="lang-box-item selected" data-code="hn">
                            <a href="" class="lang-box-link">
                                <div class="thumb">
                                    <img class="fit-image" src="assets/images/thumbs/s-4.jpg" alt="en">
                                </div>
                                <span class="text">Bangla</span>
                            </a>
                        </li>
                        <li class="lang-box-item" data-code="es">
                            <a href="" class="lang-box-link">
                                <div class="thumb">
                                    <img class="fit-image" src="assets/images/thumbs/s-3.jpg" alt="en">
                                </div>
                                <span class="text">Spanish</span>
                            </a>
                        </li>
                        <li class="lang-box-item" data-code="es">
                            <a href="" class="lang-box-link">
                                <div class="thumb">
                                    <img class="fit-image" src="assets/images/thumbs/s-2.jpg" alt="hi">
                                </div>
                                <span class="text">Hindi</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <a href="login.html" class="btn btn--md pill btn--base">Download App</a>
                <a href="login.html" class="btn btn--md pill btn-outline--dark">
                    <span class="icon">
                        <i class="fa-regular fa-circle-user"></i>
                    </span>
                    Login
                </a>
            </div>
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->