<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title> Html Template</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/logo/favicon.png">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Fontasosome -->
  <link rel="stylesheet" href="assets/css/fontasosome.min.css">
  <!-- Slick -->
  <link rel="stylesheet" href="assets/css/slick.css">
  <!-- line awesome -->
  <link rel="stylesheet" href="assets/css/line-awesome.min.css">
  <!-- Odometer -->
  <link rel="stylesheet" href="assets/css/odometer.css">
  <!-- Main css -->
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  @@include("./_preloader.html")
  <!--==================== Overlay Start ====================-->
  <div class="body-overlay"></div>
  <!--==================== Overlay End ====================-->

  <!--==================== Sidebar Overlay End ====================-->
  <div class="sidebar-overlay"></div>
  <!--==================== Sidebar Overlay End ====================-->

  <!-- ==================== Scroll to Top End Here ==================== -->
  <a class="scroll-top"><i class="fas fa-angle-double-up"></i></a>
  <!-- ==================== Scroll to Top End Here ==================== -->