
/* ====================== Breadcrumb Css Start ==================== */ 
.breadcrumb {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    padding: 120px 0 40px;
    @include md-screen {
        padding: 115px 0 60px;
    }
    @include sm-screen {
        padding: 105px 0 40px;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background-color: #081937;
        opacity: .68;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__title {
        margin-bottom: 4px;
        color: hsl(var(--white)); 
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        color: hsl(var(--white)); 
        padding: 0 5px;
        font-weight: 400;
        @extend .fs-16; 
        &-text {
            color: hsl(var(--white)); ;
        }
    }
    &__link {
        color: hsl(var(--white));  
        font-weight: 500;
        &:hover {
            color: hsl(var(--base)); ;
        }
    }
}
/* ====================== Breadcrumb Css End ==================== */
