/* ============= Header Start Here ======================= */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;

  &.logo {
    margin-right: 40px;

    img {
      max-width: 220px;

      @include md-screen {
        max-width: 200px;
      }
    }
  }
}

.header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 999;
  background: hsl(var(--black) / .02);
  padding: 20px 0;
  border-bottom: 1px solid hsl(var(--white) / 0.1);
  backdrop-filter: blur(10px);

  .navbar {
    position: unset;
  }

  &.fixed-header {
    position: fixed;
    transition: .3s linear;
    top: 0px;
    padding-block: 16px;
    animation: slide-down .8s;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: hsl(var(--black) / .8);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  padding: 0 !important;
}

/* ========================= Desktop Device Start ========================= */
.header {
  @media (min-width: 1200px) {

    // padding-block: 40px 0;
    .nav-menu {
      padding-top: 0;
      padding-bottom: 0;

      .nav-item {
        padding-right: 16px;

        @include xl-screen {
          padding-right: 20px;
        }

        &:last-child {
          padding-right: 0;
        }

        &.active {
          .nav-link {
            color: hsl(var(--base)) !important;

            &::before {
              width: 100%;
            }
          }
        }

        &:hover {
          .nav-link {
            color: hsl(var(--base)) !important;
          }

          .header-dropdown {
            visibility: visible;
            opacity: 1;
            transform: scale(1) !important;
          }
        }

        .nav-link {
          color: hsl(var(--white)) !important;
          position: relative;
          cursor: pointer;
          font-size: rem(16px);
          padding: 0px;
          font-weight: 400;
        }
      }
    }
  }

  @media (min-width: 1400px) {
    .nav-menu {
      .nav-item {
        padding-right: 24px;
      }
    }
  }
}

/* ========================== Desktop Device End ========================= */
/* ============================== Small Device ======================= */
.header {
  @include lg-screen {
    padding-block: 20px;
    border-bottom: 1px solid hsl(var(--black) / .05);

    .nav-menu {
      .nav-item {
        text-align: left;
        display: block;
        position: relative;
        margin: 0;

        &:hover .nav-link .nav-item__icon {
          transform: rotate(0deg) !important;
        }
      }

      .header-dropdown {
        position: static !important;
        display: none !important;

        &.show {
          display: block !important;
        }
      }
    }

    .nav-item {
      &:first-child {
        border-bottom: none;
      }

      &:not(:last-child) {
        margin-bottom: 16px !important;
      }

      &.active {
        .nav-link {
          color: hsl(var(--base));
        }
      }

      .nav-link {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 !important;
        color: hsl(var(--heading-color));
        font-weight: 500;
        font-size: rem(18px);

        &.show {
          &[aria-expanded="true"] {
            color: hsl(var(--base)) !important;

            i {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .navbar-toggler {
    &.header-button {
      border-color: transparent;
      color: hsl(var(--white));
      background: transparent !important;
      padding: 0 !important;
      border: 0 !important;
      border-radius: 0 !important;
      transition: .15s ease-in-out;
      width: auto;
      font-size: 2.125rem;
      order: 1;
      margin-left: 10px;

      @include msm-screen {
        font-size: 2rem;
      }

      &:focus {
        box-shadow: none !important;
      }

      &[aria-expanded="true"] i::before {
        content: "\f00d";
      }
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding-left: 48px;

  @include xl-screen {
    gap: 12px;
    padding-left: 24px;
  }

  .btn {
    border-width: 2px !important;

    &:has(.icon) {
      display: flex !important;
      align-items: center;
      gap: 8px;

      .icon {
        display: flex;
      }
    }
  }
}

.lang-box {
  @include xl-screen {
    margin-right: 0;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 24px;
    border: 1px solid hsl(var(--border-color));
  }

  &-btn {
    color: hsl(var(--white));
    display: flex;
    gap: 4px;
    align-items: center;

    &.show {
      .icon {
        transform: rotate(180deg);
      }
    }

    .thumb {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      flex-shrink: 0;
      overflow: hidden;

      img {
        display: flex;
      }

      @include xl-screen {
        height: 20px;
        width: 20px;
      }
    }

    .text {
      color: hsl(var(--white));
      font-size: rem(16px);
      font-weight: 400;
      line-height: 140%;

      @include xl-screen {
        font-size: rem(18px);
      }
    }

    .icon {
      color: hsl(var(--white));
      font-size: rem(12px);
      transition: all linear 0.3s;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 10px;
    font-size: 1rem;
    color: hsl(var(--heading-color));
    font-weight: 400;
    transition: all .15s linear;
    border-radius: 6px;

    &:hover {
      background-color: hsl(var(--black) / .05);
      color: hsl(var(--black));
    }

    .thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .dropdown-menu {
    @include lg-screen {
      left: 0 !important;
      right: auto !important;
    }
  }
}

.dropdown-menu {
  padding: 12px;
  border: 0;
  box-shadow: none;
  background-color: hsl(var(--white));
  border-radius: 12px;
  left: auto !important;
  right: 0 !important;
  display: unset !important;
  visibility: hidden;
  opacity: 0;
  transition: all .15s linear;
  transform: scale(0.95);
  top: calc(100% + 12px) !important;
  position: absolute !important;
  border: 1px solid hsl(var(--black) / .1);

  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1) !important;
  }
}

.header {
  .offcanvas-header {
    background-color: hsl(var(--white));
  }

  .btn-close {
    box-shadow: none;
  }
}
.cart-action-btn i {
    font-size: 40px;
}

.cart-action-btn {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -2px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: hsl(var(--base));
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--white));
    font-size: 12px;
    border-radius: 50%;
}
/* ================================= Header Css End =========================== */