/*=========== contact section css start here ===========*/
.contact-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: hsl(var(--white));
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    align-items: center;
    @include lg-screen {
        flex-direction: column;
    }
    &__icon {
        width: 64px;
        height: 64px;
        background-color: hsl(var(--base-two) / 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(var(--base-two));
        border-radius: 10px;
        font-size: 1.5625rem;
        @include lg-screen {
            margin: 0 auto;
        }
    }

    &__content {
        width: calc(100% - 64px);
        padding-left: 25px;
        @include lg-screen {
            width: 100%;
            padding-left: 0;
            text-align: center;
            margin-top: 20px;
        }
    }
    &__desc {
        font-size: 14px;
    }

    &__title {
        margin-bottom: 5px;
        color: hsl(var(--black));
    }
}
.contact-bottom {
    margin-top: 40px;
    .contact-form {
        position: relative;
        z-index: 1;
        background-color: hsl(var(--white));
        padding: 45px 20px;
        border-radius: 12px;
        overflow: hidden;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        @include msm-screen {
            padding: 20px;
        }
        &__title {
            text-align: center;
            margin-bottom: 30px;
        }
        &__btn {
            margin-top: 24px;
        }
    }
    &__map {
        height: 100%;
        width: 100%;
        background-color: hsl(var(--white));
        padding: 20px;
        border-radius: 10px;
        iframe {
            height: 100%;
            border-radius: 10px;
            width: 100%;
            min-height: 300px;
        }
    }
}
/*============= contact section css end here ===========*/