/* ================================= Dashboard Css Start =========================== */
.dashboard {
  position: relative;

  &__right {
    width: 100%;
    margin-left: 300px;
    background-color: #f5f6fa;

    @include md-screen {
      width: 100%;
      margin-left: 0;
    }
  }

  // ======================= Dashboard Header Start=======================
  .dropdown {
    display: inline-block !important;

    @include sm-screen {}
  }

  .dashboard-header {
    padding: 0 56px;
    background-color: hsl(var(--white));
    border-bottom: 1px solid hsl(var(--base-two) / 0.15);

    @include xxl-screen {
      padding: 0 40px;
    }

    @include xl-screen {
      padding: 0 32px;
    }

    @include lg-screen {
      padding: 0 24px;
    }

    @include sm-screen {
      padding: 0 16px;
    }

    &__inner {
      padding: 15px 0;
      gap: 10px;

      @include msm-screen {
        display: block;
      }
    }

    &__right {
      gap: 15px;
    }

    .bd-btn {
      padding: 10px 25px;
      background-color: hsl(var(--base) / 0.1);
      color: hsl(var(--base));
      border-radius: 5px;
      font-weight: 600;
      @include fs-16;

      &:hover {
        background-color: hsl(var(--base) / 0.2);
      }

      &:active {
        position: relative;
        top: 2px;
      }

      .icon {
        margin-right: 5px;
      }

      &.support {
        background-color: hsl(var(--primary) / 0.1);
        color: hsl(var(--primary));

        &:hover {
          background-color: hsl(var(--primary) / 0.2);
        }
      }

      &.logout {
        background-color: hsl(var(--danger) / 0.1);
        color: hsl(var(--danger));

        &:hover {
          background-color: hsl(var(--danger) / 0.2);
        }
      }
    }
  }

  /* User Info Css Start */
  .user-info {
    position: relative;
    text-align: center;

    &__button {
      position: relative;
      padding-right: 20px;

      &::before {
        position: absolute;
        content: "\f107";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: hsl(var(--black) / 0.4);
        @include fs-14;
        pointer-events: none;
      }
    }

    .user-info-dropdown {
      border-radius: 4px;
      overflow: hidden;
      transition: 0.25s linear;
      background-color: hsl(var(--white));
      box-shadow: 0px 5px 25px hsl(var(--black) / 0.1);
      width: 200px;
      position: absolute;
      right: 0;
      z-index: 9;
      top: 100%;
      margin-top: 15px;
      padding: 15px;
      transform: scale(0.95);
      visibility: hidden;
      opacity: 0;

      &.show {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }

      @include md-screen {
        transform: unset !important;
        top: 43px !important;
      }

      &__item {
        &:last-child {
          .user-info-dropdown__link {
            border-bottom: 0 !important;
          }
        }
      }

      &__link {
        padding: 8px 16px !important;
        color: #5d7387 !important;
        margin-left: 0 !important;
        width: 100%;
        font-weight: 600;
        text-align: left;
        @include fs-15;
        border-radius: 5px;

        &.active {
          background-color: hsl(var(--base));
        }

        &:hover {
          background-color: hsl(var(--base) / 0.08);
          color: hsl(var(--base)) !important;
        }

        .icon {
          margin-right: 8px;
        }
      }
    }

    &__thumb {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 5px;
    }

    &__name {
      color: hsl(var(--white));
      margin-left: 10px;
      @include fs-15;
    }
  }

  /* User Info Css End */

  // ======================= Dashboard Header End =======================

  // ========== Dashboard Body Start ===============
  .dashboard-body {
    position: relative;
    padding: 56px;
    min-height: 100vh;

    @include xxl-screen {
      padding: 56px 40px;
    }

    @include xl-screen {
      padding: 56px 32px;
    }

    @include lg-screen {
      padding: 40px 24px;
    }

    @include sm-screen {
      padding: 32px 16px;
    }

    &__bar {
      &-icon {
        color: hsl(var(--body-color));
        font-size: 1.5625rem; //25px
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }

  // Dashboard Card
  .dashboard-widget {
    padding: 24px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: hsl(var(--white));
    box-shadow: 0px 0px 20px hsl(var(--black) / 0.1);
    transition: 0.25s ease-in-out;

    &:hover {
      transform: translateY(-6px) scale(1.01);
      box-shadow: 0px 0px 20px hsl(var(--black) / 0.1);
    }

    @include xl-screen {
      padding: 16px;
    }

    @include sm-screen {
      padding: 16px;
    }

    &__icon {
      width: 50px;
      height: 50px;
      background-color: hsl(var(--base) / 0.08);
      color: hsl(var(--base));
      border-radius: 5px;
      font-size: 1.5rem;

      img {
        width: 32px;
      }

      @include msm-screen {
        width: 40px;
        height: 40px;
        @include fs-16;
      }
    }

    &__content {
      width: calc(100% - 50px);
      padding-left: 16px;

      @include msm-screen {
        width: calc(100% - 40px);
        padding-left: 10px;
      }
    }

    &__number {
      margin-bottom: 0px;
    }

    &__text {
      color: hsl(var(--text-color) / 0.7);
      @include fs-14;
      margin-bottom: 5px;
      font-weight: 600;

      @include msm-screen {
        @include fs-13;
      }
    }
  }

  .dashboard-widget-wrapper div[class*="col"] {
    &:nth-of-type(7n + 1) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--base) / 0.1);
          color: hsl(var(--base));
        }
      }
    }

    &:nth-of-type(7n + 2) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--violet) / 0.1);
        }
      }
    }

    &:nth-of-type(7n + 3) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--info) / 0.1);
          color: hsl(var(--info));
        }
      }
    }

    &:nth-of-type(7n + 4) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--warning) / 0.1);
          color: hsl(var(--warning));
        }
      }
    }

    &:nth-of-type(7n + 5) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--success) / 0.1);
          color: hsl(var(--success));
        }
      }
    }

    &:nth-of-type(7n + 6) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--primary) / 0.1);
          color: hsl(var(--primary));
        }
      }
    }

    &:nth-of-type(7n + 7) {
      .dashboard-widget {
        &__icon {
          background-color: hsl(var(--danger) / 0.1);
          color: hsl(var(--danger));
        }
      }
    }
  }

  //  }
  // ========== Dashboard Body End ==============
  /* ================================= Dashboard Css End =========================== */
}