/* ======================  Pages Design Start  ======================*/
@import "account";
@import "blog-details";
@import "contact";
@import "dashboard";

/* ======================  Pages Design End  ======================*/