/* =========================== Accordion Css start ============================= */
.custom--accordion {
  .accordion-item {
    border: 0;
    background-color: transparent !important;
    border-radius: 16px;
    overflow: hidden;

    @include sm-screen {
      border-radius: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

  }

  .accordion-header {
    line-height: 1;
  }

  .accordion-body {
    padding: 20px;
    padding-top: 5px !important;
    background-color: unset;
    background: hsl(var(--white));
    color: hsl(var(--black) / 0.8);

    @include lg-screen {
      font-size: rem(14px);
    }

    @include msm-screen {
      font-size: rem(12px);
    }
  }

  &:first-of-type .accordion-button.collapsed {
    border-radius: 5px;
  }

  &:last-of-type .accordion-button.collapsed {
    border-radius: 5px;
  }

  .accordion-button {
    background-color: unset;
    background: hsl(var(--white));
    color: var(--black);
    font-weight: 600;
    @include fs-20;
    padding: 24px;
    padding-right: 50px;

    @include msm-screen {
      padding: 18px 20px;
      padding-right: 40px;
      font-size: 16px;
    }

    &::after {
      background-image: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: hsl(var(--white));
      background: hsl(var(--base));
      box-shadow: none;

      &::after {
        background-image: none;
        color: hsl(var(--white));
      }
    }

    &[aria-expanded='true'],
    &[aria-expanded='false'] {

      &::after {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        content: '\f00d';
        display: inline-block;
        position: absolute;
        right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: hsl(var(--black) / .1);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &[aria-expanded='false'] {
      &::after {
        content: '\f067';
        color: hsl(var(--black));
      }
    }
  }
}

/* ================================= Accordion Css End =========================== */