/* ====================================== Alert Css Start =============================== */
/* ====================================== Alert Css Start =============================== */
.alert {
  margin-bottom: 0;
  background-color: hsl(var(--white));
  font-weight: 400;
  padding: 20px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  border-left: 4px solid hsl(var(--alert-border));
}

@media screen and (max-width: 991px) {
  .alert {
    padding: 16px;
  }
}

@media screen and (max-width: 575px) {
  .alert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.alert__icon {
  line-height: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 0.75rem;
  height: 20px;
  width: 20px;
  display: grid;
  place-content: center;
  background: hsl(var(--alert-color));
  color: hsl(var(--white));
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px hsl(var(--white)),
    0 0 0 6px hsl(var(--alert-color) / 0.5), 0 0 0 9px hsl(var(--white)),
    0 0 0 12px hsl(var(--alert-color) / 0.15);
  box-shadow: 0 0 0 3px hsl(var(--white)),
    0 0 0 6px hsl(var(--alert-color) / 0.5), 0 0 0 9px hsl(var(--white)),
    0 0 0 12px hsl(var(--alert-color) / 0.15);
  margin: 6px;
}

.alert__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 575px) {
  .alert__content {
    width: 100%;
    margin-top: 6px;
  }
}

.alert__title {
  font-size: 1rem;
  color: hsl(var(--heading-color));
  font-weight: 600;
  font-family: var(--heading-font);
  margin-bottom: 6px;
}

.alert__desc {
  color: hsl(var(--header-color) / 0.75);
  display: block;
  font-size: 0.9375rem;
}

@media screen and (max-width: 424px) {
  .alert__desc {
    font-size: 0.875rem;
  }
}

.alert__link {
  position: relative;
}

.alert .btn-close {
  background: transparent;
  padding: 0;
  color: hsl(var(--alert-color));
  font-size: 1.25rem;
  top: 16px;
  right: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  .alert .btn-close {
    top: 10px;
    right: 10px;
  }
}

.alert--base {
  --alert-color: var(--base);
  --alert-border: var(--base);
}

.alert--primary {
  --alert-color: var(--primary);
  --alert-border: var(--primary);
}

.alert--success {
  --alert-color: var(--success);
  --alert-border: var(--success);

}

.alert--info {
  --alert-color: var(--info);
  --alert-border: var(--info);
}

.alert--danger {
  --alert-color: var(--danger);
  --alert-border: var(--danger);
}

.alert--warning {
  --alert-color: var(--warning);
  --alert-border: var(--warning);
}

.alert--secondary {
  --alert-color: var(--secondary);
  --alert-border: var(--secondary);
}

/* ====================================== Alert Css End =============================== */