/* ================================= Badge Css Start =========================== */
.badge {
  font-size: rem(14px);
  border-radius: 8px 0;
  padding: 8px 10px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.badge {
  &--base {
    background-color: hsl(var(--base)) !important;
    color: hsl(var(--white)) !important;
  }

  &--primary {
    background-color: hsl(var(--primary)) !important;
    color: hsl(var(--white)) !important;
  }

  &--secondary {
    background-color: hsl(var(--secondary)) !important;
    color: hsl(var(--white)) !important;
  }

  &--success {
    background-color: hsl(var(--success)) !important;
    color: hsl(var(--white)) !important;
  }

  &--danger {
    background-color: hsl(var(--danger)) !important;
    color: hsl(var(--white)) !important;
  }

  &--warning {
    background-color: hsl(var(--warning)) !important;
    color: hsl(var(--white)) !important;
  }

  &--info {
    background-color: hsl(var(--info)) !important;
    color: hsl(var(--white)) !important;
  }
}

/* ================================= Badge Css End =========================== */