/* ================================= Modal Css Start =========================== */
.custom--modal {
  .modal-header {
    border-bottom: 1px solid hsl(var(--black) / 0.12);
    padding: 15px;

    .btn-close {
      width: 35px;
      height: 35px;
      background-color: hsl(var(--danger));
      font-size: 1.5625rem; // 25px
      line-height: 1;
      border-radius: 4px;
      transition: 0.2s linear;
      background-image: none;
      opacity: 1;

      i {
        font-size: 1.5625rem; // 25px
        color: hsl(var(--danger));
      }

      :focus {
        box-shadow: none;
      }
    }
  }

  .modal-content {
    border-radius: 10px !important;
  }

  .modal-body {
    padding: 15px;
  }

  .modal-icon i {
    font-size: rem(32px);
    color: hsl(var(--base));
    border: 3px solid hsl(var(--base));
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-top: 1px solid hsl(var(--black) / 0.12);
    justify-content: flex-end;
  }
}

/* ================================= Modal Css End =========================== */