/* ================================= Modal Css Start =========================== */
.custom--modal {
  &-two {
    .modal-header {
      border-bottom: 0;
    }

    .modal-footer {
      display: block;
    }

    .modal-body {
      .bar {
        border: 1px solid hsl(var(--black)/.12);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        input {
          border: 0;
          border-radius: 10px;
          width: calc(100% - 80px);
          padding-right: 15px;
          &:focus {
            outline: none;
          }
        }

        .btn--base {
          width: 80px !important;

          &:hover {
            background-color: hsl(var(--base-d-100)) !important;
            color: hsl(var(--white)) !important;
          }
        }
      }
    }
  }

  .modal-header {
    border-bottom: 1px solid hsl(var(--black) / 0.05);
    padding: 12px 15px;
    background-color: hsl(var(--base));

    .modal-title {
      color: hsl(var(--white));
      font-weight: 600;
      line-height: 1;
    }

    .btn-close {
      background: transparent;
      opacity: 1;
      color: unset;
      width: unset;
      height: unset;
      padding: 0;
      margin: 0;
      line-height: 1;

      &:focus {
        box-shadow: none;
        outline: 0;
      }

      .close-icon {
        color: hsl(var(--white));
        font-size: 24px;
        transition: .2s linear;

        &:hover {
          color: hsl(var(--white));
        }
      }
    }

  }

  .modal-content {
    border-radius: 10px !important;
    border: 0;
  }

  .modal-body {
    padding: 35px 24px;

    .modal-delete-wrapper {
      text-align: center;

      .delete-icon {
        width: 80px;
        height: 80px;
        background-color: hsl(var(--section-bg));
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(var(--body-color));
        margin: 0 auto;
        margin-bottom: 24px;
        font-size: 30px;
      }
    }

    &__desc {
      font-size: 18px;
      color: hsl(var(--heading-color));
    }
  }


  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
    border-top: 1px solid hsl(var(--black) / 0.05);
    justify-content: flex-end;
  }


  .modal-cancel-btn {
    color: hsl(var(--heading-color));
    font-weight: 600;
  }
}


/* ================================= Modal Css End =========================== */