/* ================================= Table Css Start =========================== */
/* Table Content Css start */
.product {
  display: flex;
  align-items: center;
  gap: 15px;
  @include xxsm-screen {
    gap: 10px;
  }

  &__thumb {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--base)/.09);
    padding: 5px;
    flex-shrink: 0;
    img {
      max-width: 35px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 35px;
    }

    @include xxsm-screen {
      margin-left: auto;
    }
  }

  &__content {
    width: calc(100% - 45px);
    text-align: left;

    @include xsm-screen {
      padding-left: 8px;
    }

    @include xxsm-screen {
      width: 100%;
      padding-left: 0px;
      padding-top: 5px;
    }
  }

  &__name {
    margin-bottom: 0;
    color: hsl(var(--heading-color));
    font-weight: 500;
    line-height: 1;
    @include line-clamp(1);
  }

  &__type {
    font-size: 12px;
    font-weight: 500;
  }
}

.action-buttons {
  @extend .flex-align;
  gap: 10px;
  justify-content: flex-end;
}

.action-btn {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: hsl(var(--base)/.09);
  font-size: 13px;
  color: hsl(var(--base));
  transition: .2s linear;
  &:hover {
    background-color: hsl(var(--base));
    color: hsl(var(--white));
  }
  &.delete {
    &:hover {
      color: hsl(var(--white));
      background-color: hsl(var(--danger));
    }
  }
  &.action-btn-two {
    width: 24px;
    height: 24px;
  }
}

.edit-btn {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid hsl(var(--black)/.1);
  border-radius: 4px;
  padding: 6px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: hsl(var(--body-color));
  .icon {
    font-size: 15px;
  }
}

.delete-btn {
  color: hsl(var(--white));
  background-color: hsl(var(--danger));
}

/* Table Content Css end */

/* Table Css Start */
.table {
  margin: 0;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0px 0px;

  thead {
    tr {
      th {
        background-color: hsl(var(--section-bg));
        text-align: center;
        padding: 15px 20px;
        color: hsl(var(--heading-color));
        font-family: var(--heading-font);
        font-weight: 600;
        max-width: 185px;
        @include fs-14;
        border: 1px solid hsl(var(--black) / 0.05);
        border-bottom: 0;

        &:not(:last-child) {
          border-right: 0;
        }

        &:not(:first-child) {
          border-left: 0;
        }

        &:first-child {
          text-align: left;
          border-radius: 6px 0 0 0;
        }

        &:last-child {
          border-radius: 0 6px 0 0;
          text-align: right;
        }

      }
    }
  }

  tbody {
    border: 0 !important;
    background-color: hsl(var(--white));

    tr {
      border-bottom: 1px solid hsl(var(--black) / 0.08);

      &:last-child {
        border-bottom: 0;
      }

      &:last-child {
        td {
          border-bottom: 1px solid hsl(var(--black) / 0.08);

          &:first-child {
            border-radius: 0px 0 0 6px;
          }

          &:last-child {
            border-radius: 0 0px 6px 0;
          }
        }
      }

      td {
        text-align: center;
        vertical-align: middle;
        padding: 15px;
        border-width: 1px;
        border: 0;
        color: hsl(var(--body-color));
        font-weight: 400;
        max-width: 185px;
        @include fs-16;
        border-bottom: 1px solid hsl(var(--black) / 0.08);
        background-color: hsl(var(--white));
        .name {
          color: hsl(var(--heading-color));
          font-style: 16px;
          font-weight: 600;
        }
        &::before {
          content: attr(data-label);
          font-family: var(--heading-font);
          @include fs-15;
          color: hsl(var(--heading-color));
          font-weight: 500;
          display: none;
          width: 45% !important;
          text-align: left;
        }

        &:first-child {
          text-align: left;
          border-left: 1px solid hsl(var(--black) / 0.08);
          @include fs-14;
        }

        &:last-child {
          text-align: right;
          border-right: 1px solid hsl(var(--black) / 0.08);
        }
      }
    }
  }
}

.table--responsive--md {
  .product {
    @include sm-screen {
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;
    }

    &__content {
      @include sm-screen {
        text-align: right;
        width: 100%;
      }
    }
  }

  @include sm-screen {
    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        border-bottom: 0;

        &:nth-child(odd) {
          background-color: hsl(var(--base) / 0.03);
        }

        &:last-child td {
          border-bottom: 0;
        }

        td {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          text-align: right;
          padding: 10px 15px;
          border: none;
          border-bottom: 1px solid hsl(var(--black) / 0.8);
          max-width: unset;
          background-color: transparent;

          &:last-child {
            border: none;
          }

          &:first-child {
            text-align: right;
            border-left: 0;
          }

          &::before {
            display: block;
            @include fs-14;
            color: hsl(var(--black) / 0.7);
          }
        }
      }
    }
  }

  @include sm-screen {
    tbody {
      tr {
        td {
          border: 0;
        }
      }
    }
  }
}

.table--responsive--lg {
  .product {
    @include md-screen {
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;
    }

    &__content {
      @include md-screen {
        text-align: right;
        width: 100%;
      }
    }
  }

  @include md-screen {
    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        border-bottom: 0;

        &:nth-child(odd) {
          background-color: hsl(var(--base) / 0.03);
        }

        &:last-child td {
          border-bottom: 0;
        }

        td {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          text-align: right;
          padding: 10px 15px;
          border: none;
          border-bottom: 0;
          max-width: unset;
          background-color: transparent;

          &:last-child {
            border: none;
          }

          &:first-child {
            text-align: right;
            border-left: 0;
          }

          &::before {
            display: block;
            @include fs-14;
            color: hsl(var(--black) / 0.7);
          }
        }
      }
    }
  }

  @include md-screen {
    tbody {
      tr {
        td {
          border: none;
        }
      }
    }
  }
}

.table--responsive--xl {
  .product {
    @include lg-screen {
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;
    }

    &__content {
      @include lg-screen {
        text-align: right;
        width: 100%;
      }
    }
  }

  @include lg-screen {
    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        border-bottom: 0;

        &:nth-child(odd) {
          background-color: hsl(var(--base) / 0.03);
        }

        td {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          text-align: right;
          padding: 10px 15px;
          border: none;
          border-bottom: 1px solid hsl(var(--black) / 0.08);
          max-width: unset;
          background-color: transparent;

          &:last-child {
            border: none;
          }

          &:first-child {
            text-align: right;
            border-left: 0;
          }

          &::before {
            display: block;
            @include fs-14;
            color: hsl(var(--black) / 0.7);
          }
        }
      }
    }
  }

  @include lg-screen {
    tbody {
      tr {
        td {
          border: 0;
        }
      }
    }
  }
}

.table--responsive--xxl {
  .product {
    @include xl-screen {
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;
    }

    &__content {
      @include xl-screen {
        text-align: right;
        width: 100%;
      }
    }
  }

  @include xl-screen {
    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        border-bottom: 0;

        &:nth-child(odd) {
          background-color: hsl(var(--base) / 0.03);
        }

        &:last-child td {
          border-bottom: 0;
        }

        td {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          text-align: right;
          padding: 10px 15px;
          border: none;
          border-bottom: 1px solid hsl(var(--black) / 0.08);
          max-width: unset;
          background-color: transparent;

          &:last-child {
            border: none;
          }

          &:first-child {
            text-align: right;
            border-left: 0;
          }

          &::before {
            display: block;
            @include fs-14;
            color: hsl(var(--black) / 0.7);
          }
        }
      }
    }
  }

  @include xl-screen {
    tbody {
      tr {
        td {
          border: 0;
        }
      }
    }
  }
}

@media (min-width:991px) {
  .table  thead tr th {
    max-width: unset;
    white-space: nowrap;
  }
  .table tbody tr td {
    max-width: unset;
    white-space: nowrap;
  }
}

/* ================================= Table Css End =========================== */