/* ================================= Tab Css Start =========================== */
.custom--tab {
  border-bottom: 1px solid hsl(var(--black)/.1);
  border-radius: 0;
  margin-bottom: 32px;
  gap: 3px;
  position: relative;
  justify-content: flex-start;
  z-index: 1;

  .nav-item {
    padding: 0;

    .nav-link {
      padding: 8px 13px !important;
      border: 0 !important;
      color: hsl(var(--heading-color));

      @include msm-screen {
        padding: 8px !important;
        font-size: 14px !important;
      }

      @include xxsm-screen {
        padding: 6px !important;
        font-size: 12px !important;
      }

      &.active {
        color: hsl(var(--white)) !important;
        background-color: transparent !important;
      }
    }
  }

  .tab-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    transition: .3s linear;
    border-radius: 12px 12px 0 0 !important;
    color: hsl(var(--white)) !important;
    background-color: hsl(var(--base)) !important;
    z-index: -1;
  }
}

/* ================================= Tab Css End =========================== */